rest-model/src/main/resources/xsd/customer.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="CustomerListDTO" type="CustomerListDTO"/>

    <xsd:complexType name="customer">
        <xsd:sequence>
            <xsd:element name="firstname" type="xsd:string" minOccurs="0"/>
            <xsd:element name="lastname" type="xsd:string" minOccurs="0"/>
            <xsd:element name="customerUrl" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CustomerListDTO">
        <xsd:sequence>
            <xsd:element type="customer" name="customer" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>